@model Project_AG.Models.FondoMonetario

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>FondoMonetario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreFondo" class="control-label"></label>
                <input asp-for="NombreFondo" class="form-control" />
                <span asp-validation-for="NombreFondo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoFondoMonetario" class="control-label"></label>
                <select asp-for="TipoFondoMonetario" class="form-control" asp-items="Html.GetEnumSelectList<TipoFondo>()">
                    <option value="">Seleccione el tipo de fondo</option>
                </select>
                <span asp-validation-for="TipoFondoMonetario" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="DescripcionFondo" class="control-label"></label>
                <input asp-for="DescripcionFondo" class="form-control" />
                <span asp-validation-for="DescripcionFondo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EstaActivo" /> @Html.DisplayNameFor(model => model.EstaActivo)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FechaCreacion" class="control-label"></label>
                <input asp-for="FechaCreacion" class="form-control" />
                <span asp-validation-for="FechaCreacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

